@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap');

:root {
    --dimensions: 5;
}

/* box-sizing and margin setup */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Inputs and Buttons defaults */
button,
input {
  font: inherit;
  border: none;
  padding: 1em;
  display: block;
}

button {
    border-radius: 1.5em;
    scale: 0.95;
}

/* Body defaults */
body {
    color: #222;
    font-family: 'Poppins', sans-serif;
}

/* Components */
.wrapper {
    min-height: 100vh;
    display: grid;
    gap:1em;
}