@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap');

:root {
    --dimensions: 5;
}

/* box-sizing and margin setup */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Inputs and Buttons defaults */
button,
input {
  font: inherit;
  border: none;
  padding: 1em;
  display: block;
}

button {
    border-radius: 1.5em;
    scale: 0.95;
}

/* Body defaults */
body {
    color: #222;
    font-family: 'Poppins', sans-serif;
}

/* Components */
.wrapper {
    min-height: 100vh;
    display: grid;
    gap:1em;
}

/* HEADER AREA */
header {
    background-color: #7678ed;
    color: white;
    text-align: center;
    font-size: clamp(1rem, 3vw, 1.5rem);

    margin-bottom: 1em;
    padding: 1em;
}

/* MAIN AREA */
main {
    display: grid;
    gap: 2em;
    padding: 0 1em 2em;
}

/* ASIDE AREA */
aside {
    display: grid;
    gap: 1em;
    max-width: 250px;

    box-shadow: 0 0 5px #bdbdbd;
    border-radius: 0.8em;
    padding: 1em;
}

@media (min-width: 500px) {
    main {
      display: grid;
      grid-template-columns: 1fr 3fr;  
    }
    
    aside {
        width: clamp(200px, 30vw, 250px);
        max-height: 500px;
        justify-self: center;
    }
}

/* ASIDE AREA - inputs */
input[type="color"] {
    padding: 0.2em;
    width: 100%;
    height: 4rem;
}

#canvas-size {
    width: 100%;
    padding: 0;
}

label {
    display: block;
    margin-bottom: 0.5em;
    text-align: center;
}

.colorMode.selected,
.eraser.selected {
    background-color: #40bd61;
    color: white;
}

button:hover {
    scale: 1;
}

button:focus {
    scale: 0.95;
}

/* CANVAS AREA */
.canvas-block {
    width: clamp(250px, 50vw, 600px); 
    min-height: clamp(250px, 50vw, 600px);
    box-shadow: 0 0 5px #bdbdbd;

    display: grid;
    padding: 1em;
}

.canvas {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(var(--dimensions), 1fr);
    grid-template-rows: repeat(var(--dimensions), 1fr); 
}

/* CREATED JS ELEMENTS */
.square {
    height: 100%;
    width: 100%;
    background-color: #ebebeb;
}

.square.color-it {
    background-color: #222;
}

/* FOOTER AREA */
footer {
    text-align: center;
    padding: 0.5em 0 0.5em;
}
  