@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap');

:root {
    --dimensions: 5;
}

/* box-sizing and margin setup */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Inputs and Buttons defaults */
button,
input {
    font: inherit;
    border: none;
    padding: 1em;
    display: block;
    cursor: pointer;
    width: 130px;
}

button {
    border-radius: 1rem;
    scale: 0.95;
}

/* Body defaults */
body {
    color: #222;
    font-family: 'Poppins', sans-serif;
}

.main-section {
    width: 100%;
}

/* Components */
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* HEADER AREA */
header {
    background-color: #7678ed;
    color: white;
    text-align: center;
    font-size: clamp(1rem, 3vw, 1.5rem);

    margin-bottom: 2rem;
    padding: 1rem;
}

.content-wrapper {
    background-color: #3a86ff;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    background-color: #ff006e;
    box-shadow: 0 0 5px #bdbdbd;
    border-radius: 0.8em;
    padding: 1em;
}

#color {
    min-width: 130px;
}

#canvas-size {
    padding: .25rem;
    width: 100%;
}

/* ASIDE AREA - inputs */
input[type="color"] {
    padding: 0.2em;
    width: 100%;
    height: 4rem;
}

.size-slider {
    background-color: #efefef;
    width: 130px;
    padding: .5rem;
    border-radius: 1rem;
}

label {
    display: block;
    text-align: center;
}

.colorMode.selected,
.eraser.selected {
    background-color: #40bd61;
    color: white;
}

button:hover {
    scale: 1;
}

button:focus {
    scale: 0.95;
}

/* CANVAS AREA */
.canvas-block {
    width: clamp(450px, 50vw, 650px);
    min-height: clamp(450px, 50vw, 650px);
    box-shadow: 0 0 5px #bdbdbd;
    background-color: #ffbe0b;
    display: grid;
    padding: 1em;
    justify-self: center;
}

.canvas {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(var(--dimensions), 1fr);
    grid-template-rows: repeat(var(--dimensions), 1fr);
}

/* CREATED JS ELEMENTS */
.square {
    height: 100%;
    width: 100%;
    background-color: #ebebeb;
}

.square.color-it {
    background-color: #222;
}

/* FOOTER AREA */
footer {
    text-align: center;
    padding: 0.5em 0 0.5em;
}

.top-section {
    margin-bottom: 3rem;
}

@media (min-width: 700px) {
    .main-section {
        display: flex;
        justify-content: center;
    }

    .content-wrapper {
        grid-template-columns: 165px 1fr;
        grid-template-rows: 1fr;
        width: max-content;
    }

    .controls {
        flex-direction: column;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .canvas-block {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: start;
    }
}